.container {
  width: 30rem;
}

.input-box {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  gap: 20px;
}

.items {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

table {
  border-collapse: collapse;
}

table,
td,
th {
  padding: 10px;
}

td {
  width: 200px;
  line-break: anywhere;
}
